[Unit]
Description=NFCGaming
After=network.target

[Service]
ExecStart=/usr/bin/bash -c '\
    cd /root/NFC-Gaming-Plus/ && \
    git stash || true && \
    git pull origin main || true && \
    cd "Pi Reader" && \
    python3 main.py\
'

Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
